.search-container
{

}

.search-container .results-found
{
	display:flex;
	justify-content:center;
	border:1px solid #4CAF50;
	border-radius:12px;
	width:200px;
	margin:0 auto;
	margin-bottom:12px;
	background-color:#abff1a;
	background-color:#faffff;
}

.search-container .results-found:hover
{
	background-color:#504d4d;
	color:#fff;
	cursor:pointer;
}

.search-container.product-view-area
{
	
}