.search-bar-cart
{
    box-sizing:border-box;
    width:100%;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    margin-bottom:5px;
    margin-top:55px;
    margin-left:-10px;
   
}

.search-bar-cart.hidden
{
   visibility: hidden;
}

.search-bar-cart.visible
{
   visibility: visible;
}



.search-area
{
  
    background:#eee;
    padding:2px;
    border-radius:23px;
    box-sizing:border-box;
    margin:0 auto;
    width: 60%;
    text-align:center;


}

.search-box
{
    line-height:0px;
    border:none;
    border-radius:23px;
    padding-left:12px;
    outline:none;
    background:none;
    width:85%;
    float:left;

    

}

.search-button
{
       background:none;
       outline:none;
       border:none;
       float:right;
       margin-top:4px;
       margin-right:3px;


}

.search-button img
{
    width:23px;

 }

.cart-area
{
   width:50px;
   height:50px;
   border:1px solid #eee;
   margin-right:2px;
   padding:px;
   display:flex;
   justify-content:center;
   align-items:center;
   border-radius:50%;
   background:#eee;
   position:fixed;
   top:0;
   right:0;
   top:55px;
   right:9px;

    
}

.cart
{

}

.cart-image
{
    width:50px;
height:40px
    cursor:pointer;
}

.total-items
{
    border:1px solid #F44336;
    border-radius:50%;
    z-index:1;
}

.icon-wrapper{
    position:relative;
    float:left;
}

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}
i {   
    width:100px;
    text-align:center;
    vertical-align:middle;
}
.badge{
    background: rgba(244, 67, 54, 0.67);
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position:absolute;
    top:-13px;
    right:-8px;
    padding:5px;
}