*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body
{
	font-family: 'Poppins', sans-serif;
}

/*navbar*/

.navbar
{
	background-color: gray;
	display:flex;
	justify-content: space-between;
}

.navbar a
{
	color:wheat;
	text-align:-webkit-center;
	font-weight:bold;
	text-decoration:none;
	padding:14px 28px;

}

.navbar a:hover
{
	background-color:white;
	color:black;
}

#toggle
{
	display: none;
}

.togglearea
{
	background-color: gray;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	display: none;

}

.togglearea label
{
	height: 45px;
	width: 45px;
	background-color: white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px black solid;
}

.togglearea label span
{
	font-size: 20px;
}

.togglearea .brand
{
	
}

.togglearea .menu
{
	
}

#typed
{
	color: green;
	display: flex;
	justify-content: flex-start;
}

navbar
{
	display: flex;
	justify-content: space-between;
}

.searchBox
{
	background: #A9A9A9;
	padding: 3px;
	border-radius: 50px;

}

.searchBox input
{
	line-height: 40px;
	border: none;
	background: none;
	outline: none;
	font-size: 16px;
	width: 0px;
	transition: all 0.5s;
	color: white;
}

.searchBox input:focus
{
	width: 200px;
	margin-left: 5px;
}

.searchBox:focus
{
	border-radius: 5px;
}

.searchBox:hover input
{
	width: 200px;
	margin-left: 5px;
}

.searchBox input::placeholder
{
	color: white;
}




.searchButton 
{
	border:none;
	color: white;

}

.searchButton::hover 
{
	border:none;
	background: none;

}

.searchButton img
{
	width: 20px;
}




.navbar div .brand
{
	animation: type 3s steps(8);
	overflow:hidden;
	white-space: nowrap;
}

.brand{
	animation: type 3s steps(8);
	overflow:hidden;
	white-space: nowrap;
	position: relative;
	right: 100px;
}

.sp-brand{
	animation: type 3s steps(8);
	overflow:hidden;
	white-space: nowrap;
	position: relative;
	right: 100px;
}

.searchBox
{
	display: flex;
	justify-content: flex-end;
	margin-left: 100px;
}



/*KeyFrames*/
@keyframes type
{
	0%
	{
		width: 0ch;
	}

	100%
	{
		width: 8ch;
	}
}

/*media querey*/

/*for nav bar*/

@media screen and (max-width: 700px) 
{
	.navbar
	{
		flex-direction: column;
		display: none;
	}

	#toggle:checked + .navbar
	{
		display: flex;
	}

	.togglearea
	{
		display: flex;
	}

	.typed
	{
		display: flex;
		justify-content: flex-start;

	}

	.brand{
	display: none;
}
	
}