/*Default tags*/
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
main
{
	padding-top:80px;
}

body
{
	font-family: 'Poppins', sans-serif;
}

input
{
	line-height:32px;
	border-radius:2px;
	border:none;
	padding:5px;
	box-sizing:border-box;
	border:1px solid #eee;
}

textarea
{
	box-sizing:border-box;
	margin:5px 0;
	resize:none;
	border-radius:5px;
	padding:5px;
	border:none;
	border:1px solid #eee;
}


/*universal style*/

.no_style
{
	background: none;
	text-decoration: none;
	list-style-type:none;

}

.content
{
	display:flex;
	box-sizing:border-box;
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;
	padding-bottom:20px;
	height:auto;
	width:100%;

}

.red
{
	color: red;
}

.green
{
	color: green;
}

/*navbar*/

.navbar
{
    background: #FF9E00;
    display:flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.navbar a:not(.no_style)
{
	color:white;
	text-align:-webkit-center;
	font-weight:bold;
	text-decoration:none;
	padding:14px 28px;

}

.navbar a:not(.no_style):hover 
{
	background-color:white;
	color:black;
}

#toggle
{

	display: none;
}

.togglearea
{
    background: #FF9E00;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	display: none;

}

.togglearea label
{
	height: 45px;
	width: 45px;
	background-color: white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: 1px black solid;
	
}

.togglearea label span
{
	font-size: 20px;
}


#typed
{
	color: green;
	display: flex;
	justify-content: flex-start;
}

.searchBox
{
	background: white;
	padding: 3px;
	border-radius: 50px;
}

.searchBox input
{
	line-height: 40px;
	border: none;
	background: none;
	outline: none;
	font-size: 16px;
	width: 0px;
	transition: all 0.5s;
	color: #000;
}

.searchBox input:focus
{
	width: 200px;
	margin-left: 5px;
}

.searchBox:focus
{
	border-radius: 5px;
}

.searchBox:hover input
{
	width: 200px;
	margin-left: 5px;
}

.searchBox input::placeholder
{
	color: #000;
	font-weight:bold;
}




.searchButton 
{
	border:none;
	color: white;

}

.searchButton::hover 
{
	border:none;
	background: none;

}

.searchButton img
{
	width: 20px;
}

.mobile_serach
{
	display:none;

}

.mobile_serach input
{
	line-height: 40px;
	border: none;
	border:1px solid #000;
	outline: none;
	font-size: 16px;
	transition: all 0.5s;
	color: #000;
	width: 300px;
	margin-right:12px;
	padding-left:12px;
	font-weight:bold;
}

.mobile_serach input:focus
{
	width: 300px;
	margin-left: 5px;
	color:#000;
}

.mobile_serach:focus
{
	border-radius: 5px;
}

.mobile_serach:hover input
{
	width: 300px;
	color:black;
}

.mobile_serach input::placeholder
{
	color: #000;
	font-weight:bold;
	padding:5px;
}




.mobile_serach .searchButton 
{
	border:1px solid;
	background-color: white;
	border:1px solid black;


}

.mobile_serach .searchButton::hover 
{
	border:none;
	background: none;
	

}

.searchButton img
{
	width: 20px;
}




.navbar div .brand
{
	animation: type 3s steps(8);
	overflow:hidden;
	white-space: nowrap;
}

.brand{
	animation: type 3s steps(8);
	overflow:hidden;
	white-space: nowrap;
	position: relative;
	right: 100px;
	font-weight: bold;
	cursor: pointer;
	color: black;
}

.brand a
{
	color: black;
}

.mobile-brand{
	animation: type 3s steps(8);
	overflow:hidden;
	white-space: nowrap;
	position: relative;
    top: 15px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.mobile-brand a
{
	color:black;
	margin-left:8px;
}

.mobile-brand a:hover
{
	color:#fff;
	text-decoration:none;
}

.brand a:hover
{
	color: white;
	background: none;
	text-decoration:none;
	font-weight: 600;
}

.searchBox
{
	display: flex;
	justify-content: flex-end;
	margin-left: 100px;
}

.nav_list
{
	display:flex;
	align-items:center;
	justify-content:center;
}

.dropdown
{
	position: fixed;
    top: 21px;
    left: 380px;
}

.dropdown-button
{
	padding: 10px;
}

.dropdown-button a
{
	color:#fff;
	text-decoration: none;
}

.dropdown ul
{
	list-style-type: none;
	margin-top:24px;
}

.dropdown ul li
{
	padding: 10px 5px;
	display: none;
	border:1px solid #000;
	margin-top:1px;
	opacity: 0;
}

.dropdown:hover li
{
	animation: load 1s forwards;
	display: block;
	color: black;
	background: #FF9E00;
	color:white;
}

.dropdown li:hover
{
	background-color:white;
	color:black;
	border:1px solid black;
	cursor:pointer;
}

/*upload page*/

.uploadForm
{
	width:100%;
	height:auto;
	padding:15px;
	display:flex;
	flex-direction:column;
}

.uploadForm input[type="file"]
{
	display: none;
}

.imageUploadBox
{
	width:190px;
	height:190px;
	border:2px solid gray;
	border-radius:5px;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
}

.imageUploadBox .plus_icon
{
	font-size:48px;
	font-weight:bolder;
}

#select_image1
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image2
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image3
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

.imageUploadBoxSm
{
	width:140px;
	height:140px;
	border:2px solid gray;
	border-radius:5px;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
}

.imageUploadBoxSm .plus_icon_sm
{
	font-size:30px;
	font-weight:bolder;
}


.inputFields
	{
		width:70%;
		height:100%;
		padding:15px;
		margin-left:240px;

	}

	.inputFields input
	{
		width:100%;
	}

	.inputFields textarea
	{
		width: 100%;
	}

	.inputFields input[type="number"]
	{
		margin-bottom:10px;
	}

	.inputFields select
	{
		width:50%;
		margin-bottom:10px;
		border: 1px solid #eee;
		border-radius:5px;
		padding:5px;
	}
.inline_content
{
	display:flex;
	flex-direction:row;
}


.modal_image img
{
	width:29px;

}

/*KeyFrames*/
@keyframes type
{
	0%
	{
		width: 0ch;
	}

	100%
	{
		width: 8ch;
	}
}

/*KeyFrame for dropdown*/
@keyframes load
{
	0%
	{
		transform:translateX(25px);
	}

	100%
	{
		opacity: 1;
		transform: translateX(0px);
	}
}

.dropdown li:first-child
{
	animation-delay: 0s;
}

.dropdown li:nth-child(2)
{
	animation-delay: 0.5s;
}

.dropdown li:last-child
{
	animation-delay: 1s;
}

/*keyframe for mobile menu*/
@keyframes openMenu
{
	0%
	{
		transform:translateX(-25px);
	}

	100%
	{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes closeMenu
{
	0%
	{
		opacity: 1;
		transform:translateY(0px);
	}

	100%
	{
		
		transform: translateY(25px);
	}
}

.navbar:first-child
{
	animation-delay: 0s;
}

.navbar:nth-child(2)
{
	animation-delay: 1s;
}

.language
{
	width: 10vh;
	height: 20px;
	background-color: black;
}



/*media querey*/

/*for nav bar*/

@media screen and (max-width: 900px) 
{
	.navbar .nav_list
	{
		display:flex;
		flex-direction:column;
	}

	.navbar
	{
		display: none;
		flex-direction:column;
		background-color:transparent;
	}

	.navbar .nav_list a
	{
		color:#fff;
   		background: #FF9E00;
		margin-bottom:2px;
		width:70vh;
		border-radius:2px;
		border:1px solid #000;
	}

	.navbar .nav_list a:hover
	{
		color: #000;
		background: #white;
	}

	#toggle:checked + .navbar 
	{
		display: flex;
		animation:openMenu 1s forwards;


	}

	.togglearea
	{
		display: flex;
	}


	.brand
	{
	display: none;
	}

	.mobile_serach
	{
		display:flex;
		justify-content:center;
		background-color:#FF9E00;
		border-radius:2px;
		border:1px solid #000;
		width:425px;
		margin-bottom:2px;
		animation:openMenu 0s forwards;
	}
	.navbar .nav_list a:first-child
	{
		animation:openMenu 0.5s forwards;
	}

	.navbar .nav_list a:nth-child(2)
	{
		animation:openMenu 1s forwards;
	}

	.navbar .nav_list a:nth-child(3)
	{
		animation:openMenu 1.5s forwards;
	}

	.navbar .nav_list a:last-child
	{
		animation:openMenu 2.0s forwards;
	}

	.searchBox
	{
		display: none;
	}

	.dropdown 
	{
		display:flex;
		flex-direction:column;
		justify-content:center;

		width:75%;
		margin-left:-310px;
		margin-top:277px;

	}

	.dropdown .dropdown-button
	{
		flex:auto;
		width:100%;
		height:60px;
		padding-left:170px;
		padding-top:18px;
		
	}

	.dropdown ul
	{
		margin-top:0px;
	}

	main
	{
		padding-top:5px;
	}
	
}

@media screen and (max-width:1020px)
{
	.brand
	{
		position:relative;
		left:3px;

	}
}

@media screen and (max-width:991px)
{
	.searchBox
	{
		height:50px;

		align-items:center;
	}
}

@media screen and (max-width:900px)
{
	.brand
	{
		position:relative;
		left:1px;
		font-size:14px;
	}


	.searchBox:hover input
	{
		width:150px;
	}
}

/* for upload page */
@media screen and (max-width:900px)
{
	.uploadForm
	{
		display:flex;
		justify-content:center;
		flex-direction:row;


	}

	.imageUploadBox
	{
		width:130px;
		height:130px;
		margin:auto;
	}

	.imageUploadBoxSm
	{
		width:120px;
		height:120px;
		margin:auto;
	}

	.inputFields
	{
		margin:0;
		width:390px;
	}

	.inputFields textarea
	{
		box-sizing:border-box;
		margin:5px 0;
		width:360px;
		resize:none;
		border-radius:5px;
		padding:5px;

	}

	.inputFields select
	{
		width:100%;
		margin-bottom:10px;
		border: 1px solid #eee;
		border-radius:5px;
		padding:5px;
	}
}

@media screen and (max-width:530px)
{
	.imageUploadBox
	{
		width:120px;
		height:120px;
		margin:auto;	}

	.imageUploadBoxSm
	{
		width:110px;
		height:110px;
	}
	#select_image1
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image2
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image3
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}
}

