/*upload page*/

.uploadForm
{
	width:100%;
	height:auto;
	padding:15px;
	display:flex;
	flex-direction:column;
}

.uploadForm input[type="file"]
{
	display: none;
}

.imageUploadBox
{
	width:190px;
	height:190px;
	border:2px solid gray;
	border-radius:5px;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
}

.imageUploadBox .plus_icon
{
	font-size:48px;
	font-weight:bolder;
}

#select_image1
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image2
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image3
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

.imageUploadBoxSm
{
	width:140px;
	height:140px;
	border:2px solid gray;
	border-radius:5px;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
}

.imageUploadBoxSm .plus_icon_sm
{
	font-size:30px;
	font-weight:bolder;
}


.inputFields
	{
		width:70%;
		height:100%;
		padding:15px;
		margin-left:240px;

	}

	.inputFields input
	{
		width:100%;
	}

	.inputFields textarea
	{
		width: 100%;
	}

	.inputFields input[type="number"]
	{
		margin-bottom:10px;
	}

	.inputFields select
	{
		width:50%;
		margin-bottom:10px;
		border: 1px solid #eee;
		border-radius:5px;
		padding:5px;
	}



.modal_image img
{
	width:29px;

}


/* for upload page */
@media screen and (max-width:900px)
{
	.uploadForm
	{
		display:flex;
		justify-content:center;
		flex-direction:row;


	}

	.imageUploadBox
	{
		width:130px;
		height:130px;
		margin:auto;
	}

	.imageUploadBoxSm
	{
		width:120px;
		height:120px;
		margin:auto;
	}

	.inputFields
	{
		margin:0;
		width:390px;
	}

	.inputFields textarea
	{
		box-sizing:border-box;
		margin:5px 0;
		width:360px;
		resize:none;
		border-radius:5px;
		padding:5px;

	}

	.inputFields select
	{
		width:100%;
		margin-bottom:10px;
		border: 1px solid #eee;
		border-radius:5px;
		padding:5px;
	}
}

@media screen and (max-width:530px)
{
	.imageUploadBox
	{
		width:120px;
		height:120px;
		margin:auto;	}

	.imageUploadBoxSm
	{
		width:110px;
		height:110px;
	}
	#select_image1
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image2
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image3
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}
}

@media screen and (max-width:390px)
{
	.imageUploadBox
	{
		width:110px;
		height:110px;
		margin:auto;	}

	.imageUploadBoxSm
	{
		width:100px;
		height:100px;
	}
	#select_image1
	{
		font-size:12px;
		font-weight:bold;
		margin-left:5px;
	}

	#select_image2
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image3
	{
		font-size:12px;
		font-weight:bold;
		margin-right:13px;
	}

	@media screen and (max-width:360px)
{
	.imageUploadBox
	{
		width:100px;
		height:100px;
		margin-left:25px;	}

	.imageUploadBoxSm
	{
		width:95px;
		height:95px;
	}
	#select_image1
	{
		font-size:10px;
		font-weight:bold;
		margin-left:25px;
	}

	#select_image2
	{
		font-size:10px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image3
	{
		font-size:10px;
		font-weight:bold;
		margin-right:10px;
	}

	@media screen and (max-width:360px)
{
	.imageUploadBox
	{
		width:100px;
		height:100px;
		margin-left:49px;	}

	.imageUploadBoxSm
	{
		width:95px;
		height:95px;
	}
	#select_image1
	{
		font-size:10px;
		font-weight:bold;
		margin-left:49px;
	}

	#select_image2
	{
		font-size:10px;
		font-weight:bold;
		margin-right:13px;
	}

	#select_image3
	{
		font-size:10px;
		font-weight:bold;
		margin-right:10px;
	}

	.inputFields
	{
		
	}

	.inputFields input
	{
		margin:auto;
		width:80%;
		margin-left:30px;
	}

	.inputFields textarea
	{
		margin:auto;
		width:80%;
		margin-left:30px;
		margin-top:5px;
	}

	.inputFields select
	{
		margin:auto;
		width:80%;
		margin-left:30px;
		margin-top:5px;
	}

}